#messages {
    & .message {
        padding: .4em;
        border-bottom: 1px solid #222;
        display: flex;
        align-items: center;
        & .info{
            padding: 10px;
        }
        & .info .auteur{
            font-weight: bold;
            font-size: 1.2em;
            color: #444;
        }

        & .image {

            width: 30px;
            height: 30px;
        }


        & .info .message-text {
            font-size: 1.2em;
            color : #222;
        }
    }

   
}

#bodyMessage{
    background-image: url('../../style/image/fondMessage.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}