#header {
    display : flex;
    height: 40px;
    background : #902a11;
    justify-content : space-between;
    align-items: center;
    padding: 2em;
    &.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7em;
        padding: .3em;

    }
    
    &.settings{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7em;
        padding: .3em;
    }
    
}

.texteLogo {
    font-weight: bold;
    font-size: 1.9em;
    color: #e3db86;
}